name: FTP Deploy

on:
  push:
    branches:
      - main #Change if your default branch is different
        

jobs: 
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
        
      - name: Upload to FTP server
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with: 
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: ${{ secrets.FTP_PORT || 21 }}
          local-dir: ./ #The Repo Root
          server-dir: / #Change if you need a subdirectory on the server
          dangerous-clean-slate: true #Optional: wipes remote before upload
          
        